@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #f4f5f5;
  --primary-white: #fff;
  --tabs-color: #71777c;
  --menu-split-line-color: #f1f1f1;
  --tabs-active-color: #007fff;
  --juejin-font-2: #515767;
  --article-title-color: #2d2d2d;
  --article-split-line-color: #e5e6eb;
  --article-icon-color: #4e5969;
}

html.dark {
  --primary-bg-color: #10131a;
  --primary-white: #1a202c;
  --tabs-color: #a0aec0;
  --menu-split-line-color: #2d3748;
  --tabs-active-color: #63b3ed;
  --juejin-font-2: #a0aec0;
  --article-title-color: #cbcbcb;
  --article-split-line-color: #2d3748;
  --article-icon-color: #a0aec0;
}

html {
  font-size: 12px;
  background-color: var(--primary-bg-color);
  @apply duration-200;
}

body {
}
