.header {
  @apply border-b border-solid border-[#f1f1f1] w-full bg-[var(--primary-white)] fixed top-0 left-0 transition-all duration-200;
}

.nav {
  @apply box-content h-[4.33rem] sm:h-20 w-full mx-auto lg:w-[1440px]  flex items-center;
}

.show {
  @apply translate-y-0;
}

.visible {
  @apply -translate-y-full;
}

.logo {
  @apply w-[107px] h-[22px] hidden sm:block ml-[24px] mr-4;
}

.logoMobile {
  @apply w-[31px] h-[24px] block sm:hidden ml-[1.3333rem];
}

.menuItem {
  position: relative;
  &:hover::before {
    content: '';
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #007fff;
  }
}
